<!-- <h1>hello world</h1>

{{title}}
<h1>{{name}}</h1>
<h1>name : {{getName()}}</h1>
<h1>Full name : {{getFullName()}}</h1>

<h2>user name : {{obj.name}}</h2>
<h2>user Age : {{obj.age}}</h2>

<h2>{{arr[2]}}</h2>
<h2>{{arr.length}}</h2>
<h3>site url is {{siteurl}}</h3> -->

<!-- <h1>this is the component html</h1> -->

<!-- <app-user-list></app-user-list> -->

<!-- <h1>Angular modular tutorial</h1> -->
<!-- <app-login></app-login> -->
<!-- <app-signup></app-signup> -->


<!-- <app-user-list></app-user-list>   -->



<!-- <h1>call function in angular</h1> -->

<!-- <button (click)="getName(name)">get my name</button> -->

<!-- <h1>important events in angular</h1>

<button (click)="myEvent('this is click event')" >Click Me</button> 

<br>
<br>
<input type="text"  #box (keyup.enter)="myEvent(box.value)"/>

<br>
<br>
<input type="text" #box2 (keyup.space)="myEvent(box2.value)"/> 

<br>
<br>

<input type="text" #blur (blur)="myEvent(blur.value)">

<div (mouseover)="myEvent('this is mouseover event')" style="background-color: black;">
mouse event
</div>

<br><br><br>
<input type="text"  #box (keyup.enter)="myEvent(box.value)" (keyup.space)="myEvent(box.value)"/> 
space </input>
 -->

<!-- 
<h1>get TextBox value
        get value with value change
        get value with Button click</h1>
<input type="text" (keyup)="getVal($event.target.value)" />

<input type="text" #box/>
<button (click)="getVal(box.value)">get value</button>
<h2>{{currentVal}}</h2> -->
    


<!-- <h1>add material in angular 10</h1>
<button mat-raised-button color="primary" style="margin: 20px;" > Angular </button> <br>
<button mat-raised-button color="accent" style="margin: 20px;" > Angular </button> <br>
<button mat-raised-button color="warn" style="margin: 20px;" > Angular </button> <br>


<mat-slider min="1" max="100" > hello </mat-slider>

<mat-slider
  thumbLabel
  [displayWith]="formatLabel"
  tickInterval="1000"
  step="1000"
  min="0"
  max="100000"
  aria-label="units"></mat-slider> -->


  <!-- <h1>pass data parent to child component in angular</h1>
  <app-users [hero]="data2" ></app-users> -->

  
  
  
<!-- <h1>reusable component in html</h1>

<div *ngFor="let data of users"> 
  <app-user [hero]="data" ></app-user>  
</div> -->


<!-- <h1>send data child to parent component in angular</h1>

<app-user (parentComponent)="parentComponent($event)"></app-user>

<br><br><br>

<h3>{{name}}</h3> -->


<!-- <h1>pipe in angular</h1>     


<h3>{{name | titlecase}}</h3>
<h3>{{name | uppercase}}</h3>
<h3>{{name | lowercase}}</h3>

<h3>{{today | date}}</h3>
<h3>{{today | date:'fullDate'}}</h3>

<h3>{{str | slice:1:8}}</h3>

<h3>{{ val | currency:"USD" }}</h3>
<h3>{{ val | currency:"CAD" }}</h3> -->



<!-- <h1>custome directive in angular</h1>

<h2>normal heading</h2>
<h2 appCustomStyle>custome heading</h2> -->


<!-- <h1>services in angular</h1>
<h2> name: {{name3}}</h2>
<h2> age: {{age3}}</h2>
<h2> name: {{id3}}</h2> -->



<!-- <h1>show list from API data in angular</h1>

<table border="1">
  <tr>
    <td>id</td>
    <td>title</td>
    <td>user id</td>
  </tr>
  <tr *ngFor="let item of data">
    <td>{{item.id}}</td>
    <td>{{item.title}}</td>
    <td>{{item.userId}}</td>
  </tr>
</table> -->



<!-- 
<app-login></app-login>
<br><br><br>
<app-signup></app-signup> -->



<h2>login and signup portal</h2>


<!-- <ul>
  <li>
    <a routerLink="login">Login</a>
  </li>
    <hr>
  <li><a routerLink="signup">Signup</a>
  </li>
</ul> 


<ul>
  <li><a routerLink="login">Login</a></li><hr>
  <li><a routerLink="signup">Signup</a></li>
</ul>


<router-outlet></router-outlet>
-->



<!-- 
<h1>Routing module in angular</h1>
<ul>
  <li>
    <a routerLink="login">login</a>
  </li>
  <li>
    <a routerLink="list">list</a>
  </li>
</ul>
<router-outlet></router-outlet> -->


<!-- 
<h1>group routing in angular</h1>
<h1>Routing module in angular</h1>
<h3>admin page</h3>
<ul>
  <li>
    <a routerLink="admin/login">login</a>
  </li>
  <li>
    <a routerLink="admin/list">list</a>
  </li>
</ul>

<h3>user page</h3>
<ul>
  <li>
    <a routerLink="user/login">login</a>
  </li>
  <li>
    <a routerLink="user/list">list</a>
  </li>
</ul>



<div class="btn-group" uib-dropdown dropdown-append-to-body>
  <button id="btn-append-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle>
    Dropdown on Body <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
    <li role="menuitem"><a routerLink="admin/login">Login</a></li>
    <li role="menuitem"><a routerLink="admin/list">List</a></li>
  </ul>
</div> -->


<!-- <h1>lazy loading in angular</h1>
<h2>Admin Links</h2>
<ul><li>
  <a routerLink="adminlm/login">Login</a>
</li>
<li>
  <a routerLink="adminlm/list">list</a>
</li>
</ul>
<br><br><hr><br><br>
<h2>user Links</h2>
<ul><li>
  <a routerLink="userlm/login">Login</a>
</li>
<li>
  <a routerLink="userlm/list">list</a>
</li>
</ul> -->




<!-- <h1>lazy loading component in angular</h1>
<button (click)="loadAdmin()">load admin list</button>
<button (click)="loadUser()">load user list</button> -->



<h1>angular template driven form</h1>

<!-- <div class="col-sm-6">
<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
  <input type="text" class="form-control"  name="email" placeholder="enter email here" ngModel>
  <br><br>
  <input type="password" class="form-control" name="password" placeholder="enter password here" ngModel>
  <br><br>
  <button type="submit" class="btn btn-primary" style="left:auto;"> Login </button>

</form>
</div>   -->

<!-- <div class="col-sm-6">
<form  #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" ngModel class="form-control" name="username"  aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" ngModel class="form-control" name="password">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div> -->











<!-- 
<div class="col-sm-6">
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)" > 
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" required class="form-control" name="useremail" ngModel #email="ngModel" aria-describedby="emailHelp" placeholder="Enter email">
    <span class="error" *ngIf=" email.invalid && email.touched ">Email field cannot be empty</span>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input  type="password" ngModel
      name="password" class="form-control" name="password" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div> -->

  <!-- <h1>prefilled angular field</h1>

  <form action="" #userForm="ngForm">
    <input type="text" name="email" [ngModel]="userData.email"><br><br>
    <input type="password" name="password" [ngModel]="userData.password"><br><br>
    <input type="text" name="address" [ngModel]="userData.address"><br><br>
    <input type="text" name="mobile" [ngModel]="userData.mobile"><br><br>
    <button type="submit">save</button>
  </form> -->


  <h1>angular reactive form</h1>

  <form [formGroup]="loginForm" (ngSubmit)="collectData()" action="">
    <input type="text" name="username" formControlName="username"><br><br>
    <input type="text" name="password" formControlName="password"><br><br>
    <button type="submit">login</button>
  </form>

<!-- Default form login -->


<router-outlet></router-outlet>
<br><br><br><br>
<h1>hi there! :)</h1>

 